@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');
@import '../utils/Reset.styl';
@import '../utils/Vars.styl';
@import '../utils/Container.styl';
