/*Header-----Header*/

.Header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--HF-text-color);
}
.Header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  ul {
    width: 700px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    a {
      font-family: var(--secundary-font);
      font-size: 12px;
      font-weight: 600;
      color: var(--HF-text-color);
      text-decoration: none;
    }
  }
}
.Heaver__icon-burger {
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}