.Home {
  width: 95%;
  margin: 40px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 420px);
  gap: 1.5rem;
}

@media (max-width: 800px) {
  .Home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .Home {
    grid-template-columns: repeat(1, 1fr);
  }
}