/*Logo-----Logo*/

.Logo {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
  span {
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    left: 2px;
    background-color: var(--detail-color);
    color: var(--detail-color);
  }
}
.isFooter {
  color: #565967;
}