/*Variables-----Variables*/

:root {
  /*Colors*/
  --HF-text-color: #c4c4c4;
  --white-color: #fff;
  --footer-color: #1E1F24;
  --detail-color: #F8545A;
  /*Fonts*/
  --main-font: 'Lato', Helvetica;
  --secundary-font: 'Oswald', Helvetica;
}